<div class="app-container">

  <div class="row g-0">
  
    <div class="col-12 col-md-3 menu">

      <div class="logo">
        <img src="/assets/logo.svg" alt="">
      </div>

      <div class="menu-buttons">
        <nav>
          <a routerLink="/home" routerLinkActive="active">Home</a>
          <a routerLink="/create-post" routerLinkActive="active">Create post</a>
        </nav>
      </div>

    </div>

    <div class="col-sm data-content">
      <router-outlet></router-outlet>
    </div>

  </div>
  