@import "~bootstrap/dist/css/bootstrap.css";
@import './app/custom-colors.scss';
/* You can add global styles to this file, and also import other style files */
*{
    // box-sizing: content-box;
}
body{
    background-color: $white;
}

h2{
    color:$secondary;
    padding-bottom: 4px;
    border-bottom: 2px solid $secondary
}

.danger{
    color: red;
}

.danger:hover{
    color: red;
    filter: brightness(85%);
}

.card.raiser{
    -webkit-box-shadow: 2px 2px 15px 2px #BFBFBF; 
    box-shadow: 2px 2px 15px 2px #BFBFBF;
}